<a href="{% url 'home' %}">Home</a>
<h1>About the site</h1>
<p>
Southend Fertility and IVF offers a comprehensive Infertility Management program under one roof to couples who find problems in having a child. Our philosophy is to analyze patient problems and offer the most appropriate therapy. 30–40% of the patients, therefore, do not undergo IVF in our centre. This is contrary to the popular belief that patients are always made to undergo IVF in a facility such as ours!

Our centres today are a perfect blend of academics and ethical clinical practice. It is popular amongst the medical fraternity for training in infertility management. Our academic achievements have been applauded internationally giving us the honor of being research collaborators with the prestigious Reproductive Research Centre of the Cleveland Clinic, USA since 2008.

It is our Endeavour to help couples in decision making, make treatment as cost-effective as possible for them and advise them to choose other options when successful treatment is unlikely. We welcome you to our facility, stand committed to you and hope you shall enjoy your experience with us.
</p>
